html {
	height: 100%;
}

body {
	margin: 0px;
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	font-family: math;
	background-color: lightyellow;
}

#header {
	width: var(--content-width);
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	border-bottom: 2px dashed darkgray;
	padding-top: 20px;
	padding-bottom: 20px;
}

#header a:link, #header a:visited {
	color: black;
}

#header a {
	font-weight: bold;
	text-decoration: double underline;
}

#content {
	width: calc(var(--content-width) - 2 * var(--content-side-padding));
	padding: 0px var(--content-side-padding);
	flex: 1;
	background-color: whitesmoke;
	border-right: 2px dashed darkgray;
	border-left: 2px dashed darkgray;
}

#footer {
	width: var(--content-width);
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	border-top: 2px dashed darkgray;
	padding-top: 20px;
	padding-bottom: 20px;
}

