#post-count::after {
	content: " Posts";
}

#posts {
	margin-top: 20px;
}

.post {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.post-title {
	font-size: 1.17em;
	font-weight: bold;
}

.post-timestamp {
	align-self: flex-end;
}
