#post-count::after {
	content: " Posts";
}

#posts {
	margin: 20px 0px;
	border: 2px dashed darkgray;
}

.post {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 10px;
}

.post.highlight {
	background-color: white;
}

.post-title {
	font-size: 1.17em;
	font-weight: bold;
}

.post-timestamp {
	align-self: flex-end;
}
