<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ TITLE }}</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="./static/css/responsive.css">
		<link rel="stylesheet" href="./static/css/codehilite.css">
		<link rel="stylesheet" href="./static/css/base.css">
	</head>
	<body>
		<div id="header">
			<a href="./">Home</a>
			<a href="./posts.html">Posts</a>
			<a href="./contact.html">Contact</a>
			<a href="https://github.com/thesxm">GitHub</a>
		</div>
		<div id="content">
			{{ CONTENT }}
		</div>
		<div id="footer">
			<span>
				Hosted at <a href="https://github.com/thesxm/blog">GitHub</a>
			</span>
		</div>
	</body>
</html>
