<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ TITLE }}</title>
		<link rel="stylesheet" href="./static/css/base.css">
		<link rel="stylesheet" href="./static/css/responsive.css">
		<link rel="stylesheet" href="./static/css/codehilite.css">
	</head>
	<body>
		<div id="header">
			<a href="./">Home</a>
			<a href="./posts.html">Posts</a>
			<a href="./contact.html">Contact</a>
			<a href="https://github.com/thesxm">GitHub</a>
		</div>
		<div id="content">
		</div>
		<div id="footer">
			<span>
				Hosted at <a href="https://github.com/thesxm/blog">GitHub</a>
			</span>
		</div>
		<script>
			fetch("./metadabase.json").then(res => res.json()).then((res) => {
				document.getElementById("content").innerHTML = res.stringify();
			});
		</script>
	</body>
</html>
