<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ TITLE }}</title>
		<link rel="stylesheet" href="./static/css/base.css">
		<link rel="stylesheet" href="./static/css/responsive.css">
		<link rel="stylesheet" href="./static/css/codehilite.css">
		<link rel="stylesheet" href="./static/css/posts.css">
	</head>
	<body>
		<div id="header">
			<a href="./">Home</a>
			<a href="./posts.html">Posts</a>
			<a href="./contact.html">Contact</a>
			<a href="https://github.com/thesxm">GitHub</a>
		</div>
		<div id="content">
			<h1>My Posts</h1>
			<div id="post-count"></div>
			<div id="posts"></div>
		</div>
		<div id="footer">
			<span>
				Hosted at <a href="https://github.com/thesxm/blog">GitHub</a>
			</span>
		</div>
		<script>
			function post_filter(key) {
				return key.endsWith(".html");
			}

			function generate_post_element(data) {
				let _ = document.createElement("div");
				_.classList.add("post");

				let _title = document.createElement("a");
				_title.href = "./post/" + data["link"];
				_title.classList.add("post-title");
				_title.innerHTML = data["title"];

				let _timestamp = document.createElement("span");
				_timestamp.classList.add("post-timestamp");
				_timestamp.innerHTML = data["timestamp"];

				_.appendChild(_title);
				_.appendChild(_timestamp);

				return _;
			}

			function handleMDB(mdb) {
				let post_keys = Object.hasOwn(mdb, "post") ? Object.keys(mdb["post"]).filter(post_filter) : new Array();
				let post_count = post_keys.length;

				document.getElementById("post-count").innerHTML = post_count;

				if (post_count == 0) return;

				let post_metadatas = new Array();
				for (const post_key of post_keys) {
					let md = mdb["post"][post_key];
					post_metadatas.push({
						"link": post_key,
						"title": md["blog-title"][0],
						"timestamp": Number(md["timestamp"][0]),
					});
				}

				post_metadatas.sort((a, b) => {
					return b["timestamp"] - a["timestamp"];
				});

				let _ = document.getElementById("posts");
				post_metadatas.forEach(data => _.appendChild(generate_post_element(data)));

				return;
			}

			fetch("./metadatabase.json").then(res => res.json()).then(res => handleMDB(res));
		</script>
	</body>
</html>
